* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  height: 100%;
  font-family: "Gloock", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

section {
  scroll-snap-align: start;
}

h1 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
  font-size: 1.8rem;
}

.title {
  color: white;
  text-align: center;
  font-size: 60px;
  position: absolute;
  text-wrap: wrap !important;
  max-width: 100%;
  z-index: 2;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
  .title {
    font-size: 108px;
    text-wrap: nowrap !important;
  }
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  -moz-columns: white;
       columns: white;
  font-weight: bold;
}

.container {
  color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .text-container {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container .text-container .text-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .text-container .text-box h3 {
  font-size: 1.6rem;
}
.container .text-container .text-box p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
  margin-bottom: 1rem;
}
.container .text-container .btn {
  background-color: transparent;
  font-family: "Gloock", serif;
  font-weight: 400;
  border: none;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}
.container .text-container .btn:hover {
  background-color: transparent;
  color: rgb(117, 117, 117);
  transition: 0.5s ease-in-out;
}
.container .text-container .projectsBtn {
  font-size: 1.8rem;
}
.container .gh-list {
  list-style-type: none;
  padding: 1rem;
}
.container .gh-list li {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .gh-list li a {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}
.container .gh-list .description {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0.6rem;
}
.container .gh-list .description a {
  font-size: 1.6rem;
  margin-left: 1rem;
}

@keyframes modal-bg-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-bg-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes modal-appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes modal-close {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
  }
}
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-bg-in {
  animation: modal-bg-in 0.6s ease;
}

.modal-bg-out {
  animation: modal-bg-out 0.6s ease;
}

.modal-content {
  -webkit-backdrop-filter: blur(60px);
          backdrop-filter: blur(60px);
  padding: 3.3rem 7rem 4rem 7rem;
  border-radius: 18px;
  border-color: none;
  position: relative;
}
.modal-content .contact {
  font-size: 1.7rem;
}

.modal-appear {
  animation: modal-appear 0.6s ease-in;
}

.modal-close {
  animation: modal-close 0.2s ease-in;
}

.modal-close-button {
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}